/* === Reset básico === */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* === Header === */
.header {
  background-color: #43b145;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header h1 {
  font-size: 24px;
}

.header input[type="text"] {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  width: 200px;
}
.ordenar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
#ordenar-nombre, #ordenar-precio{
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
}
/* === Contenedor principal === */
main {
  padding: 30px;
}

/* === Título principal === */
#titulo-fruteria {
  text-align: center;
  margin-bottom: 30px;
}

/* === Grilla de productos === */
.contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* === Tarjetas de productos === */
.card-producto {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 160px;
  padding: 15px;
  text-align: center;
  transition: box-shadow 0.2s ease;
}

.card-producto img {
  width: 100%;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.card-producto h3 {
  font-size: 16px;
  margin-bottom: 5px;
  text-transform: lowercase;
}

.card-producto p {
  font-weight: bold;
  margin-bottom: 10px;
}

.card-producto button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.card-producto button:hover {
  background-color: #218838;
}

/* === Carrito === */




.bloque-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.boton-eliminar {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.boton-eliminar:hover {
  background-color: darkred;
}

.total-carrito {
  text-align: right;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
#vaciar-carrito{
  text-align: center;
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}
#vaciar-carrito:hover{
  background-color: darkred;
}
